@import '../../scss/colors.scss';

.book-table{
    padding: 10px;
    background-color: $PRIMARY_COLOR;
    width: 100%;
    color: white;

    input,textarea{
        background-color: $PRIMARY_COLOR;
        padding: 10px;
        width: 50%;
        border: none;
        border-bottom: 1px solid white;
        margin:2px;
        &::placeholder{
            color: white;
        }
        @media screen and (max-width:400px) {
                 width:100%;
        }
    }

    button{
        background-color: white;
        color: black;
        padding: 8px;
        width: 50%;
        align-items: start;
        &:hover{
            background-color: black;
            color: white;
        }
    }
}

.book-name,.book-date-time{
    display: flex;
    gap: 5px;

    @media screen and (max-width:400px) {
         flex-direction: column;
       }
}

.book-msg-appoint{
    display: flex;
    gap: 4px;
    margin-top: 4px;

    button{
        font-size: 1em;
        font-weight: 700;
    }
}

