@import '../../scss/mixins.scss';
@import '../../scss/colors.scss';


// .review-container::before{
//   content:'';
//   display: block;
//   position: absolute;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   opacity: 0.4;
//   background-repeat: no-repeat;
//   background-position: 50% 50%;
//   background-size: cover;
//   background-image: url('../../Images/carousel_bg_1.png');
// }

.review-container{
    position: relative;
    padding: 50px 0px
}

.reviews{
   @include DisplayFlexRow;
   justify-content: center;
    margin-top: 4em;
}

.review-width{
    width: 15%;
}