@import '../../scss/mixins.scss';
@import '../../scss/colors.scss';

.product-container{
    @include DisplayFlexCol;
    align-items: center;
    color: white;
    @media screen and (min-width:701px) {
        width: 20%;
    }
    

    .product-image{
        width: 70%;
        margin: 10px;
    }

    .product-name{
        color: white;
        text-transform: uppercase;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        font-family: "Josefin Sans", Arial, sans-serif;
    }

    .product-details{
        text-align: center;
        color: grey;
    }

    .add-cart-button{
        padding: 9px;
        background-color:transparent ;
        color: $PRIMARY_COLOR;
        border: 1px solid $PRIMARY_COLOR;
        border-radius: 6px;
    }
}